<div class="product-card">
    <h3>name:</h3>
    <span>{{product.name | uppercase}}</span>
    <h3>description:</h3>
    <span>{{product.description}}</span>
    <h3>price:</h3>
    <span>{{product.price | currency}}</span>
    <h3>category:</h3>
    <span>{{product.category}}</span>
    <h3>isAvailable:</h3>
    <span>{{product.isAvailable}}</span>
    <br>

    <div>
        <button [disabled]="!product.isAvailable" class="buy-btn" (click)="buyBtnClick($event)">Buy</button>
        <a *ngIf="isAdmin" href="product/{{product.id}}" class="edit-btn">Details</a>
        <a *ngIf="isAdmin" href="product/{{product.id}}" class="remove-btn">Remove</a>
    </div>
</div>